@model Todo
@{
    var listTodo = ViewData["Data"] as IEnumerable<Todo>;
}
<div class="text-center p-3">
    <h1 class="display-4">TODO</h1>
    <form asp-action="NewTask" method="post" class="flex flex-col gap-3 items-center">
        <div>
            <label asp-for="Title">Title:</label>
            <input asp-for="Title"/>
        </div>
        <div>
            <label asp-for="Detail">Detail:</label>
            <input asp-for="Detail"/>
        </div>
        <div>
            <label asp-for="Status">Status</label>
            <select asp-for="Status">
                <option value="">Choose an option</option>
                <option value="Done">Done</option>
                <option value="Doing">Doing</option>
                <option value="Planning">Planning</option>
            </select>
        </div>
        <button type="submit" class="bg-blue-400 my-3 px-3 py-2 rounded-lg">Create</button>
    </form>
    <div class="w-full flex justify-center">
        <table class="w-[700px]">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Detail</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            @if (listTodo != null)
            {
                @foreach (var todo in listTodo)
                {
                    <tr>
                        <td>@todo.Title</td>
                        <td>@todo.Detail</td>
                        <td>@todo.Status</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
