@model Todo
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>Hoaicute</title>
</head>
<body>
<div>
    Hoai cute page
    @Model?.Title
    @Model?.Detail
    @Model?.Status
</div>
</body>
</html>